<div class="flex items-center justify-center pb-16 custom-bg rounded-lg">
    <div class="text-center p-2">
        <img src="assets/svg-images/404-not-found.svg" alt="Not Found Image" class="mx-auto w-1/2">
        <h1 class="text-4xl font-bold custom-title mb-2">Pagina No Encontrada</h1>
        <p class="text-lg custom-sub-title mb-6">Lo sentimos, la página que estás buscando no existe.</p>
        <a href="/" class="px-4 py-2 bg-rose-500 text-white rounded hover:bg-rose-700">Volver al Inicio</a>
    </div>
</div>