<div class="reset-password-content max-w-xl mx-auto p-6 rounded-lg">
    <h1 class="text-2xl font-semibold text-center mb-8">Restablecer Contraseña</h1>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <div class="mb-4">
            <label for="newPassword" class="block text-gray-700 font-medium mb-2">Nueva Contraseña:</label>
            <input id="newPassword" type="password" formControlName="newPassword" required
                class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600"
                [ngClass]="{ 'border-red-500' : resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched }">

            <div class="text-red-500 text-xs mt-1 h-2">
                <span
                    *ngIf="(!resetPasswordForm.get('newPassword')?.errors?.['minlength'] && !resetPasswordForm.get('newPassword')?.errors?.['pattern']) && 
                      (resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched)">
                    Define una nueva contraseña
                </span>

                <span *ngIf="resetPasswordForm.get('newPassword')?.errors?.['minlength']">
                    La contraseña debe contener almenos 8 caracteres
                </span>

                <span
                    *ngIf="resetPasswordForm.get('newPassword')?.errors?.['pattern'] && !resetPasswordForm.get('newPassword')?.errors?.['minlength']">
                    La contraseña debe incluir minúsculas, mayúsculas y números
                </span>
            </div>
        </div>
        <div class="mb-6">
            <label for="confirmNewPassword" class="block text-gray-700 font-medium mb-2">Confirmar Nueva
                Contraseña:</label>
            <input id="confirmNewPassword" type="password" formControlName="confirmNewPassword" required
                class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600"
                [ngClass]="{ 'border-red-500' : resetPasswordForm.get('confirmNewPassword')?.invalid && resetPasswordForm.get('confirmNewPassword')?.touched }">

            <div class="text-red-500 text-xs mt-1 h-2">
                <ng-container
                    *ngIf="resetPasswordForm.get('confirmNewPassword')?.touched && resetPasswordForm.get('confirmNewPassword')?.invalid; else passwordMismatch">
                    Este campo es requerido.
                </ng-container>

                <ng-template #passwordMismatch>
                    <span
                        *ngIf="resetPasswordForm.get('newPassword')?.value !== resetPasswordForm.get('confirmNewPassword')?.value && resetPasswordForm.get('confirmNewPassword')?.touched">
                        Las nuevas contraseñas no coinciden.
                    </span>
                </ng-template>
            </div>
        </div>
        <button type="submit"
            class="w-full text-white py-2 px-4 rounded-md transition duration-300 disabled:opacity-50">
            Restablecer Contraseña
        </button>
    </form>
</div>