.reset-password-content {
    background-color: var(--body-primary);
}

h1 {
    color: var(--h1-title);
}

label {
    color: var(--card-text-color);
}

button {
    background-color: var(--button);
}

button:hover {
    background-color: var(--buttonHover);
}

/* form status control */
.ng-valid:not(form).ng-touched {
    border-left: 5px solid #4242a9;
}

.ng-invalid:not(form).ng-touched {
    border-left: 5px solid #a94442;
}