<div class="head animate__animated animate__fadeIn" [ngClass]="getHeadClass()">
    <div class="head-content">
        <div class="head-content-left">
            <div class="head-menu-left">
                <div class="head-menu-item">
                    <button class="head-menu-item-btn ripple" (click)="toggleTheme()">
                        <img [src]="'assets/themes/' + selectedTheme.icon + '.png' "
                            class="theme" alt="icon">
                    </button>
                </div>
            </div>
        </div>
        <div class="head-content-right">
            <div class="head-menu" *ngIf="loggedUser || loggedAdmin">
                <div class="head-menu-item">
                    <button class="head-menu-item-btn ripple" matTooltip="Acerca de" matTooltipPosition="below" (click)="openAboutDialog()">
                        <i class="fas fa-question menu-icon"></i>
                    </button>
                </div>
            </div>

           <!-- Displayed when the user is logged in -->
            <div class="head-user-avatar-container" *ngIf="loggedUser || isUserInRegister">
                <div class="head-user-avatar" [cdkMenuTriggerFor]="userOverlay">
                        <img *ngIf="preRegisterUserData" [src]="preRegisterUserData.photoURL" (load)="onImageLoad()" alt="avatar" class="user-avatar">
                        <img *ngIf="loggedUserData && !loggedUserData.photo_url" src="assets/avatar-signIn2.png" alt="avatar" class="user-avatar">
                        <img *ngIf="loggedUserData && loggedUserData.photo_url" [src]="loggedUserData.photo_url" alt="avatar" class="user-avatar">
                    <div class="circle-indicator pulse"></div>
                </div>
            </div>

            <!-- Displayed when the user is NOT logged in -->
            <div class="head-user-avatar-container" *ngIf="!isUserInRegister && !loggedAdmin && !loggedUser">
                <div class="head-user-avatar" [cdkMenuTriggerFor]="notLoggedOverlay">
                    <img src="assets/avatar-signIn2.png" alt="user" class="user-avatar">
                </div>
            </div>

            <!-- Displayed when the admin is logged in -->
            <div class="head-user-avatar-container" *ngIf="loggedAdmin">
                <div class="head-user-avatar" [cdkMenuTriggerFor]="userOverlay">
                        <img src="assets/admin_icon.png" alt="user" class="user-avatar">
                    <div class="circle-indicator pulse"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #userOverlay>
    <div class="overlay overlay-user overlay-fall" cdkMenu>
        <ul>
            <li *ngFor="let item of userItems" cdkMenuItem (click)="selectOptionProfile(item)">
                <a>
                    <i class="icon" [ngClass]="item.icon"></i>
                    <span>{{item.label}}</span>
                </a>
            </li>
        </ul>
    </div>
</ng-template>

<ng-template #notLoggedOverlay>
    <div class="overlay overlay-user overlay-fall" cdkMenu>
        <ul>
            <li *ngFor="let log of loginItem" cdkMenuItem (click)="selectSignInOptions(log)">
                <a>
                    <i class="icon" [ngClass]="log.icon"></i>
                    <span>{{log.label}}</span>
                </a>
            </li>
        </ul>
    </div>
</ng-template>