.body {
    width: calc(100% - 4rem);
    height: 100%;
    min-height: 100vh;
    margin-top: 5.75rem;
    background: var(--background-color-body-app);
}

.body-trimmed {
    width: calc(100% - 16.5625rem);
    margin-left: 16.5625rem;
}

.body-md-screen {
    width: calc(100% - 4rem);
    margin-left: 4rem;
}