<div class="overflow-x-auto relative shadow-md rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="py-3 px-6 text-center">Fecha</th>
          <th scope="col" class="py-3 px-6 text-center">Nombre</th>
          <th scope="col" class="py-3 px-6 text-center">Estado</th>
        </tr>
      </thead>
      <tbody>
        <!-- Los datos de las filas se generarían dinámicamente -->
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="py-4 px-6 text-center">01/01/2023</td>
          <td class="py-4 px-6 text-center">Jesus Estiven Perez Torres</td>
          <td class="py-4 px-6 text-center">Confirmado</td>
        </tr>
      </tbody>
    </table>
</div>
  