<div mat-dialog-title>
    <h1 class="justify-center flex">Agrega estudiantes al plan premium del establecimiento</h1>

    <button mat-icon-button class="close-button" [mat-dialog-close]="false">
      <mat-icon>close</mat-icon>
    </button>
</div>

<mat-dialog-content class="mat-typography modal-container">
    <div class="flex flex-wrap">
      <div class="w-full md:w-1/2">
        <div class="form-container m-1">
          <form [formGroup]="membershipForm">
            <div class="mb-4">
              <label class="block text-sm font-medium mb-1" for="startDate">Fecha inicio</label>
              <input formControlName="startDate" type="date" id="startDate" class="shadow appearance-none border rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:ring-1 focus:ring-orange-500 focus:border-transparent"
                required [ngClass]="{ 'border-red-500' : (membershipForm.get('startDate')!.invalid && membershipForm.get('startDate')!.touched) || membershipForm!.errors?.['startMoreThanEnd'] || membershipForm!.errors?.['startMoreThanCurrent']}"
              >
              <div class="text-red-500 text-xs mt-1 h-4">
                <span *ngIf="membershipForm.get('startDate')!.invalid && membershipForm.get('startDate')!.touched && !membershipForm!.errors?.['startMoreThanEnd'] && !membershipForm!.errors?.['startMoreThanCurrent']">
                  Ingrese una fecha valida de inicio
                </span>

                <span *ngIf="membershipForm!.errors?.['startMoreThanEnd']">
                  La fecha inicial debe ser inferior a la final
                </span>

                <span *ngIf="membershipForm!.errors?.['startMoreThanCurrent']">
                  La fecha inicial no puede ser inferior a la actual
                </span>
              </div>
            </div>
            <div class="mb-4">
              <label class="block text-sm font-medium mb-1" for="">Fecha fin</label>
              <input formControlName="endDate" type="date" id="endDate" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-1 focus:ring-orange-500 focus:border-transparent"
              required [ngClass]="{ 'border-red-500' : membershipForm.get('endDate')!.invalid && membershipForm.get('endDate')!.touched }"
              >

              <div class="text-red-500 text-xs mt-1 h-4">
                <span *ngIf="membershipForm.get('endDate')!.invalid && membershipForm.get('endDate')!.touched">
                  Ingrese una fecha valida de finalización
                </span>
              </div>
            </div>
            <div class="mb-4">
              <label class="block text-sm font-medium mb-1" for="studentCode">Código estudiantil</label>
              <input formControlName="studentCode" type="text" id="studentCode" placeholder="Ingresa el código" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-1 focus:ring-orange-500 focus:border-transparent"
              required [ngClass]="{ 'border-red-500' : membershipForm.get('studentCode')!.invalid && membershipForm.get('studentCode')!.touched }"
              >

              <div class="text-red-500 text-xs mt-1 h-3">
                <span *ngIf="membershipForm.get('studentCode')!.invalid && membershipForm.get('studentCode')!.touched">
                  Ingrese el codigo de estudiante
                </span>
              </div>
            </div>
            <div class="flex items-center justify-between">
              <button class="bg-orange-500 hover:bg-orange-700 text-white font-medium py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" (click)="createMembership()">
                Enviar
              </button>

              <button class="truncate ml-2 bg-purple-500 hover:bg-purple-700 text-white font-medium py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" (click)="viewMembershipList()">
                Ver Membresias
              </button>
            </div>
          </form>
        </div>
      </div>
      <!-- Img -->
      <div class="w-full md:mt-0 mt-4 md:w-1/2 flex items-center justify-center">
        <img src="assets/membershipIcon.svg" alt="imgMembership" class="w-full h-auto p-4 object-cover">
      </div>
    </div>
  </mat-dialog-content>
  