<h2 class="flex items-center justify-center font-semibold py-4">
    FitLynx - Software
</h2>
<mat-dialog-content class="mat-typography">
    <div class="flex items-center justify-center py-2 mb-5">
        <img class="w-[100px] h-[100px] rounded-[50%]" src="../../assets/sidenavIconLynxBgBlue.png" alt="FitLynxLogo">
    </div>
  <h3 class="font-medium text-zinc-800">Innovación en Gestion de Gimnasios:</h3>
  <p class="text-justify mt-2 text-zinc-700">FitLynx es una solución de software revolucionaria diseñada específicamente para modernizar y mejorar la gestión de gimnasios. Nuestro software ofrece una experiencia integral para administradores y usuarios, transformando la manera en que interactúan con las instalaciones deportivas.</p>

  <h3 class="font-medium text-zinc-700 mt-4">Nuestra Mision:</h3>
  <p class="text-justify mt-1 text-zinc-600">Estamos comprometidos con apoyar un estilo de vida saludable y activo. FitLynx facilita el acceso a instalaciones deportivas y promueve el ejercicio regular al ofrecer un sistema eficiente y accesible para la gestión de gimnasios.</p>

  <h3 class="font-medium text-zinc-700 mt-4">¿Que ofrecemos a nivel tecnico?: </h3>
  <ul class="text-justify mt-2 text-zinc-600 list-disc ml-12">
        <li><span class="text-zinc-800 font-normal">Reservas Simplificadas: </span>Con nuestro innovador sistema de reservas, decimos adiós a las aglomeraciones y garantizamos un acceso organizado y eficiente para todos los usuarios.</li>
        <li><span class="text-zinc-800 font-normal">Seguimiento Personalizado: </span>Ofrecemos a los usuarios la posibilidad de seguir rutinas de ejercicios personalizadas, ver su progreso y establecer metas, fomentando así una experiencia de ejercicio más efectiva y motivadora.</li>
        <li><span class="text-zinc-800 font-normal">Gestión Efectiva para Administradores: </span>Los administradores de gimnasios pueden gestionar fácilmente el flujo de usuarios, acceder a reportes detallados y optimizar la operación general del gimnasio.</li>
  </ul>   

  <div class="flex items-center justify-center mt-10"><h3 class="font-semibold text-zinc-700">Desarrollado Por:</h3></div>
  <div class="flex flex-wrap -mx-2 mt-12">
    <!-- Juan Gonzales -->
    <div class="w-full md:w-1/2 px-2 mb-4 md:mb-0">
        <div class="flex flex-col items-center">
            <img class="h-[150px] rounded-full mb-2" src="../../assets/devs/Juan_Gonzales.jpg" alt="Juan_Gonzales" tabindex="-1">
            <h4 class="text-zinc-800 font-medium">Juan Gonzalez</h4>
            <div class="flex mt-2">
                <a href="https://github.com/Suso-sky" target="_blank" class="text-zinc-600 hover:text-zinc-800 mx-1" tabindex="-1">
                    <i class="fab fa-github text-2xl"></i>
                </a>
                <a href="https://www.linkedin.com/in/juan-felipe-gonzalez-mosquera-2a6128268/" target="_blank" class="text-zinc-600 hover:text-zinc-800 mx-1" tabindex="-1">
                    <i class="fab fa-linkedin text-2xl"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Jesus Perez -->
    <div class="w-full mt-8 md:mt-0 md:w-1/2 px-2">
        <div class="flex flex-col items-center">
            <img class="h-[150px] rounded-full mb-2" src="../../assets/devs/Jesus_Perez.jpg" alt="Jesus Perez" tabindex="-1">
            <h4 class="text-zinc-800 font-medium">Jesus Perez</h4>
            <div class="flex mt-2">
                <a href="https://github.com/stivenzxy" target="_blank" class="text-zinc-600 hover:text-zinc-800 mx-1" tabindex="-1">
                    <i class="fab fa-github text-2xl"></i>
                </a>
                <a href="https://www.linkedin.com/in/jesus-estiven-perez-torres-3364a9286/" target="_blank" class="text-zinc-600 hover:text-zinc-800 mx-1" tabindex="-1">
                    <i class="fab fa-linkedin text-2xl"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="flex items-center justify-center font-normal text-zinc-900 mt-12">
    <p>Todos los derechos reservados © 2024 <span class="font-medium">FitLynx</span></p>
</div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="mr-6 hover:bg-zinc-200 py-1.5 px-1.5 rounded-md" mat-dialog-close> Cerrar </button>
</mat-dialog-actions>
