<div class="container mx-auto p-6 bg-white shadow-md rounded-lg animate__animated animate__fadeIn">
  <h1 class="title text-2xl font-bold mb-8">Bienvenido al área de reservas!</h1>
  <div class="flex flex-col md:flex-row md:space-x-12">
    <div class="w-full md:w-1/2">
      <form [formGroup]="reserveForm" (ngSubmit)="submitNewReserve()" class="space-y-5">
        <div class="input">
          <label class="inputLabel block text-sm font-medium">Hora en la que desea entrenar</label>
          <input formControlName="reservationTime" type="time" step="1800"
            class="mt-1 p-2 block w-full rounded-md border"
            [ngClass]="{ 'border-red-500': reserveForm.get('reservationTime')!.invalid && reserveForm.get('reservationTime')!.touched }">
          <div class="text-red-500 text-xs mt-1 h-2">
            <span
              *ngIf="reserveForm.get('reservationTime')!.invalid && reserveForm.get('reservationTime')!.touched && !reserveForm.get('reservationTime')!.errors?.['pastTime'] && !reserveForm.get('reservationTime')!.errors?.['invalidMinuteFormat']">
              Ingrese la hora en la que desea entrenar
            </span>
            <span *ngIf="reserveForm.get('reservationTime')!.errors?.['pastTime']">
              La hora no puede ser inferior a la actual
            </span>
            <span *ngIf="reserveForm.get('reservationTime')!.errors?.['invalidMinuteFormat']">
              Los minutos deben ser en el formato HH:00 o HH:30
            </span>
          </div>
        </div>
        <div class="input">
          <label class="inputLabel block text-sm font-medium">Fecha en la que desea reservar</label>
          <input formControlName="reservationDate" type="date" class="mt-1 p-2 block w-full rounded-md border"
            [ngClass]="{ 'border-red-500': reserveForm.get('reservationDate')!.invalid && reserveForm.get('reservationDate')!.touched && !reserveForm.get('reservationDate')!.errors?.['pastDate'] && !reserveForm.get('reservationDate')!.errors?.['dayLimit']}">
          <div class="text-red-500 text-xs mt-1 h-2">
            <span
              *ngIf="reserveForm.get('reservationDate')!.invalid && reserveForm.get('reservationDate')!.touched && !reserveForm.get('reservationDate')!.errors?.['pastDate'] && !reserveForm.get('reservationDate')!.errors?.['dayLimit']">
              Por favor seleccione la fecha
            </span>
            <span *ngIf="reserveForm.get('reservationDate')!.errors?.['pastDate']">
              La fecha no puede ser inferior a la actual
            </span>
            <span *ngIf="reserveForm.get('reservationDate')!.errors?.['dayLimit']">
              Solo puedes reservar para hoy mismo o mañana
            </span>
          </div>
        </div>
        <div class="input">
          <label class="inputLabel block text-sm font-medium">Cantidad de horas a reservar</label>
          <input formControlName="hoursAmount" type="number" max="12" placeholder="Digite el número de horas"
            class="mt-1 p-2 block w-full rounded-md border"
            [ngClass]="{ 'border-red-500': reserveForm.get('hoursAmount')!.invalid && reserveForm.get('hoursAmount')!.touched }">
          <div class="text-red-500 text-xs mt-1 h-2">
            <span
              *ngIf="reserveForm.get('hoursAmount')!.hasError('required') && reserveForm.get('hoursAmount')!.touched">
              Digite el número de horas
            </span>
            <span *ngIf="reserveForm.get('hoursAmount')!.hasError('max')">
              El máximo número de horas es 2
            </span>
            <span *ngIf="reserveForm.get('hoursAmount')!.hasError('min')">
              El minimo número de horas es 1
            </span>
          </div>
        </div>

        <div class="flex justify-start">
          <button type="submit"
            class="px-6 py-2 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700">
            Reservar
          </button>
        </div>
      </form>
    </div>

    <div class="w-full md:w-1/2 md:mt-0 mt-16 flex flex-col items-center">
      <div class="scheduleContainer p-8 rounded-lg w-full md:max-w-md flex flex-col md:flex-row items-center">
        <div class="flex-1">
          <h1 class="text-lg font-bold">Horario:</h1>
          <div *ngIf="schedules.length === 0" class="mt-2">
            <span class="day-schedule">Aún no se ha definido un horario</span>
          </div>
          <div class="mt-2" *ngFor="let schedule of schedules">
            <span class="day-schedule font-medium">{{ schedule.day }}:</span>
            <span class="day-schedule ml-1">
              {{ (schedule.open_time && schedule.close_time) ? (formatHour(schedule.open_time) + ' - ' +
              formatHour(schedule.close_time)) : 'Cerrado' }}
            </span>
          </div>
        </div>
        <div class="ml-4">
          <img src="assets/svg-images/calendar1.svg" alt="calendar" class="w-32 h-32">
        </div>
      </div>

    </div>

  </div>

  <div class="recomendations flex h-auto md:h-80 mt-20 w-full bg-slate-500 rounded-lg flex-col md:flex-row p-4">
    <div class="lottie-animation md:w-[35%]">
      <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
    </div>
    <div class="text-recomendation w-full md:w-1/2 flex items-center justify-center flex-col p-4">
      <h1 class="text-xl md:text-2x1 font-bold mb-4 text-center">Recomendaciones para ti:</h1>
      <h3 class="recomendationsText text-md md:text-lg text-center">{{ randomRecomendation }}</h3>
    </div>
  </div>
</div>