 <div class="container mx-auto mt-4 p-6 bg-white shadow-md rounded-lg animate__animated animate__fadeIn">
    <h1 class="title text-2xl font-bold mb-8">Bienvenido al área de reservas!</h1>
    <div class="flex flex-col md:flex-row md:space-x-12">
      <div class="w-full md:w-1/2">
        <form [formGroup]="reserveForm" (ngSubmit)="onSubmit()" class="space-y-5">
          <div class="input">
            <label class="inputLabel block text-sm font-medium">Hora en la que desea entrenar</label>
            <input formControlName="hora" type="time" min="07:00" max="18:00" class="mt-1 p-2 block w-full rounded-md border"
            [ngClass]="{ 'border-red-500': reserveForm.get('hora')!.invalid && reserveForm.get('hora')!.touched }">
            <div class="text-red-500 text-xs mt-1 h-2">
              <span *ngIf="reserveForm.get('hora')!.invalid && reserveForm.get('hora')!.touched">
                Ingrese la hora en la que desea entrenar
              </span>
            </div>
          </div>
          <div class="input">
            <label class="inputLabel block text-sm font-medium">Fecha en la que desea reservar</label>
            <input formControlName="fecha_reserva" type="date" class="mt-1 p-2 block w-full rounded-md border" 
            [ngClass]="{ 'border-red-500': reserveForm.get('fecha_reserva')!.invalid && reserveForm.get('fecha_reserva')!.touched && !reserveForm.get('fecha_reserva')!.errors?.['pastDate']}">
            <div class="text-red-500 text-xs mt-1 h-2">
              <span *ngIf="reserveForm.get('fecha_reserva')!.invalid && reserveForm.get('fecha_reserva')!.touched && !reserveForm.get('fecha_reserva')!.errors?.['pastDate']">
                Por favor seleccione la fecha
              </span>
              <span *ngIf="reserveForm.get('fecha_reserva')!.errors?.['pastDate']">
                La fecha no puede ser inferior a la actual
              </span>
            </div>
          </div>
          <div class="input">
            <label class="inputLabel block text-sm font-medium">Cantidad de horas a reservar</label>
            <input formControlName="cantHoras" type="number" max="12" placeholder="Digite el número de horas" class="mt-1 p-2 block w-full rounded-md border"
            [ngClass]="{ 'border-red-500': reserveForm.get('cantHoras')!.invalid && reserveForm.get('cantHoras')!.touched }">
            <div class="text-red-500 text-xs mt-1 h-2">
              <span *ngIf="reserveForm.get('cantHoras')!.hasError('required') && reserveForm.get('cantHoras')!.touched">
                Digite el número de horas
              </span>
              <span *ngIf="reserveForm.get('cantHoras')!.hasError('max')">
                El máximo número de horas es 2
              </span>
            </div>
          </div>
            
          <div class="flex justify-start">
            <button type="submit" class="px-6 py-2 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700">
              Reservar
            </button>
          </div>
        </form>
      </div>

      <div class="w-full md:w-1/2 md:mt-0 mt-16 flex flex-col items-center">
        <img src="../../assets/calendar.png" alt="Calendario" class="w-32 h-32">
        <div class="containerHorario mt-6 p-8 rounded-lg w-full md:max-w-md">
          <h1 class="text-lg font-bold">Horario:</h1>
          <p class="mt-2">Lunes - Viernes: 8am - 6pm</p>
          <p>Sábado: 8am - 1pm</p>
        </div>
      </div>
    </div>

    <div class="recomendations flex h-auto md:h-80 mt-20 w-full bg-slate-500 rounded-lg flex-col md:flex-row p-4">
      <div class="lottie-animation md:w-[35%]">
        <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
      </div> 
      <div class="text-recomendation w-full md:w-1/2 flex items-center justify-center flex-col p-4">
        <h1 class="text-xl md:text-2x1 font-bold mb-4 text-center">Recomendaciones para ti:</h1>
        <h3  class="recomendationsText text-md md:text-lg text-center">{{ recomendacionAleatoria }}</h3>
      </div>
    </div>    
  </div>
  
