/* Chrome, Safari, y otros navegadores basados en WebKit. */
input[type='date']::-webkit-datetime-edit,
input[type='time']::-webkit-datetime-edit,
input[type='date']::-webkit-datetime-edit-fields-wrapper,
input[type='time']::-webkit-datetime-edit-fields-wrapper,
input[type='date']::-webkit-datetime-edit-text,
input[type='time']::-webkit-datetime-edit-text,
input[type='date']::-webkit-datetime-edit-month-field,
input[type='time']::-webkit-datetime-edit-month-field,
input[type='date']::-webkit-datetime-edit-day-field,
input[type='time']::-webkit-datetime-edit-day-field,
input[type='date']::-webkit-datetime-edit-year-field,
input[type='time']::-webkit-datetime-edit-year-field {
  color: var(--placeholder);
}

/* Para ocultar las flechas en navegadores basados en WebKit (como Chrome, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para ocultar las flechas en Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

h1 {
    color: var(--h1-title);
}

p {
    color: var(--card-text-color);
}

.inputLabel {
    color: var(--card-text-color);
}

.container {
    background-color: var(--body-primary);

    form {
        width: 60%;
    }
}

input {
    background-color: var(--body-primary);
    color: var(--placeholder);
}

::placeholder { /* Firefox 51+, Chrome 57+ */
    color: var(--placeholder);
    opacity: 1; /* Firefox reduce la opacidad por defecto */
  }
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--placeholder);
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--placeholder);
}

input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
  
input:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
    background-color: var(--button);
}

button:hover {
    background-color: var(--buttonHover);
}

.containerHorario {
    background-color: var(--background-color-header);
}

@media (max-width: 768px) {

    .container form,
    .container .title{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .input {
        width: 100%;
    }
}

.recomendationsText {
    color: #fff;
}
