<h2 mat-dialog-title><h1>Inicio de sesión</h1></h2>
<button mat-icon-button class="close-button" [mat-dialog-close]="false">
    <mat-icon>close</mat-icon>
  </button>
<mat-dialog-content class="mat-typography modal-container">
  <div class="p-text">Inicia sesión para elevar tu entrenamiento. 
    Reservas, productos especializados y más te esperan. 
    ¡Conéctate con nosotros!</div>
  <button mat-raised-button class="google-btn">
    <img src="../../assets/google.png" alt="Google Icon" class="google-icon"> Continuar con Google
  </button>
</mat-dialog-content>
