<h2 mat-dialog-title>
  <h1>Por favor ingresa estos datos adicionales para tu registro!</h1>
</h2>
<button mat-icon-button class="close-button" [mat-dialog-close]="false">
  <mat-icon>close</mat-icon>
</button>
<mat-dialog-content class="mat-typography modal-container">
  <form [formGroup]="registerNewUserForm" class="space-y-4" (ngSubmit)="submitRegisterData()">
    <div class="input">
      <mat-form-field appearance="fill" class="w-full no-validate">
        <mat-label>Programa</mat-label>
        <mat-select formControlName="program" class="no-validate">
          <mat-optgroup *ngFor="let school of schools" [label]="school.name">
            <mat-option *ngFor="let program of school.programs" [value]="program">
              {{ program }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

      <div class="text-red-500 text-xs mb-4">
        <span *ngIf="registerNewUserForm.get('program')?.invalid && registerNewUserForm.get('program')?.touched">
          Ingrese su programa (carrera que estudia)
        </span>
      </div>
    </div>
    <div class="input">
      <input formControlName="studentCode" type="text" name="studentCode" placeholder="Codigo estudiantil"
        class="w-full px-4 py-2 border rounded-md text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
        required
        [ngClass]="{ 'border-red-500' : registerNewUserForm.get('studentCode')?.invalid && registerNewUserForm.get('studentCode')?.touched }">
      <div class="text-red-500 text-xs mt-1 h-2">
        <span
          *ngIf="registerNewUserForm.get('studentCode')?.invalid && registerNewUserForm.get('studentCode')?.touched">
          Ingrese su codigo estudiantil
        </span>
      </div>
    </div>

    <div class="relative w-full">
      <input formControlName="password" [type]="hidePassword ? 'password' : 'text'" name="password"
        placeholder="Crear contraseña"
        class="w-full px-4 py-2 border rounded-md text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 pr-10"
        required
        [ngClass]="{ 'border-red-500' : registerNewUserForm.get('password')!.invalid && registerNewUserForm.get('password')!.touched }"
        >
      <div class="text-red-500 text-xs mt-1 h-2">
        <span
          *ngIf="(!registerNewUserForm.get('password')?.errors?.['minlength'] && !registerNewUserForm.get('password')?.errors?.['pattern']) && 
          (registerNewUserForm.get('password')?.invalid && registerNewUserForm.get('password')?.touched)">
          Define una contraseña para iniciar sesión posteriormente
        </span>

        <span *ngIf="registerNewUserForm.get('password')?.errors?.['minlength']">
          La contraseña debe contener almenos 8 caracteres
        </span>

        <span *ngIf="registerNewUserForm.get('password')?.errors?.['pattern'] && !registerNewUserForm.get('password')?.errors?.['minlength']">
          La contraseña debe incluir minúsculas, mayúsculas y números
        </span>
      </div>

      <div class="absolute top-[10px] right-0 flex items-center pr-3">
        <button class="text-slate-400" type="button" (click)="togglePasswordVisibility()"
          aria-label="Mostrar Contraseña">
          <i [class]="hidePassword ? 'far fa-eye' : 'far fa-eye-slash'"></i>
        </button>
      </div>
    </div>

    <div class="flex flex-col">
      <button type="submit"
        class="w-full mt-4 px-4 py-2 bg-orange-600 text-white rounded-md hover:bg-orange-800 focus:outline-none focus:ring-2 focus:ring-slate-500">Finalizar
        Registro</button>
    </div>
  </form>
</mat-dialog-content>