<h2 class="flex items-center justify-center font-semibold py-4">
  Cambiar Contraseña
</h2>
<mat-dialog-content class="mat-typography">
  <div class="p-4">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <div class="mb-6">
        <label for="currentPassword" class="block text-sm font-medium text-gray-700">Contraseña Actual</label>
        <input formControlName="currentPassword" type="password" name="currentPassword"
          class="w-full px-4 py-2 border border-gray-300 rounded-md text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
          required
          [ngClass]="{ 'border-red-500' : changePasswordForm.get('currentPassword')?.invalid && changePasswordForm.get('currentPassword')?.touched }">
        <div class="text-red-500 text-xs mt-1 h-2">
          <span
            *ngIf="changePasswordForm.get('currentPassword')?.touched && changePasswordForm.get('currentPassword')?.invalid">La
            contraseña actual es requerida.</span>
        </div>
      </div>
      <div class="mb-6">
        <label for="newPassword" class="block text-sm font-medium text-gray-700">Nueva Contraseña</label>
        <input formControlName="newPassword" type="password" name="newPassword"
          class="w-full px-4 py-2 border border-gray-300 rounded-md text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
          required
          [ngClass]="{ 'border-red-500' : changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched }">

        <div class="text-red-500 text-xs mt-1 h-2">
          <span *ngIf="(!changePasswordForm.get('newPassword')?.errors?.['minlength'] && !changePasswordForm.get('newPassword')?.errors?.['pattern']) && 
              (changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched)">
            Define una nueva contraseña
          </span>

          <span *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']">
            La contraseña debe contener almenos 8 caracteres
          </span>

          <span
            *ngIf="changePasswordForm.get('newPassword')?.errors?.['pattern'] && !changePasswordForm.get('newPassword')?.errors?.['minlength']">
            La contraseña debe incluir minúsculas, mayúsculas y números
          </span>
        </div>
      </div>
      <div class="mb-6">
        <label for="confirmNewPassword" class="block text-sm font-medium text-gray-700">Confirmar Nueva
          Contraseña</label>
        <input name="confirmNewPassword" type="password" formControlName="confirmNewPassword"
          class="w-full px-4 py-2 border border-gray-300 rounded-md text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
          required
          [ngClass]="{ 'border-red-500' : changePasswordForm.get('confirmNewPassword')?.invalid && changePasswordForm.get('confirmNewPassword')?.touched }">

        <div class="text-red-500 text-xs mt-1 h-2">
          <ng-container
            *ngIf="changePasswordForm.get('confirmNewPassword')?.touched && changePasswordForm.get('confirmNewPassword')?.invalid; else passwordMismatch">
            Este campo es requerido.
          </ng-container>

          <ng-template #passwordMismatch>
            <span
              *ngIf="changePasswordForm.get('newPassword')?.value !== changePasswordForm.get('confirmNewPassword')?.value && changePasswordForm.get('confirmNewPassword')?.touched">
              Las nuevas contraseñas no coinciden.
            </span>
          </ng-template>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <button type="submit"
          class="bg-cyan-700 hover:bg-cyan-800 text-white font-medium py-2 px-4 rounded focus:outline-none focus:shadow-outline">Actualizar</button>
      </div>
      <button cdkFocusInitial style="display: none;"></button>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="mr-6 hover:bg-zinc-200 py-1.5 px-1.5 text-slate-800 font-medium rounded-md" mat-dialog-close> Cancelar </button>
</mat-dialog-actions>