<!-- login-dialog.component.html -->
<div mat-dialog-title>
  <h1 class="justify-center flex">Gestiona las reservas realizadas por los clientes</h1>

  <button mat-icon-button class="close-button" [mat-dialog-close]="false">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content class="mat-typography modal-container">
  <div class="overflow-x-auto p-4">
    <table *ngIf="reservas.length > 0; else noDataContent" class="min-w-full table-auto">
      <thead>
        <tr class="border-b text-zinc-800">
          <th class="px-4 py-2 text-center">Código</th>
          <th class="px-4 py-2 text-center">Programa</th>
          <th class="px-4 py-2 text-center">Usuario</th>
          <th class="px-4 py-2 text-center">Fecha Reserva</th>
          <th class="px-4 py-2 text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-b text-zinc-700" *ngFor="let reserva of reservas; let i = index">
          <td class="px-4 py-2 text-center">{{ reserva.usuario.codigo_estudiantil }}</td>
          <td class="px-4 py-2 text-center">{{ reserva.usuario.programa }}</td>
          <td class="px-4 py-2 text-center">{{ reserva.usuario.nombre }}</td>
          <td class="px-4 py-2 text-center">{{ reserva.fecha }}</td>
          <td class="px-4 py-2 text-center">
            <div class="inline-flex justify-center">
              <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" matTooltip="Penalizar" matTooltipPosition="below" (click)="penalizarUsuario(i)">
               <i class="fa fas fa-skull"></i>
              </button>
              <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded ml-2" matTooltip="Confirmar" matTooltipPosition="below"(click)="confirmarAsistencia(i)">
                <i class="fa fas fa-check"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Contenido alternativo para cuando no hay datos -->
    <ng-template #noDataContent>
      <div class="text-center p-4">
        <p class="text-red-700 dark:text-red-400">Nadie ha realizado reservas aún!</p>
      </div>
    </ng-template>
  </div>
</mat-dialog-content>
