<h1 class="font-extrabold text-3xl">Productos</h1>
<div class="card">
    <div class="card-head">Lorem ipsum - product 1</div>
    <div class="card-body">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus placeat natus sed reiciendis molestiae voluptatibus! Exercitationem, hic aliquam officiis in, corporis veritatis neque, ipsam ullam praesentium unde quidem sunt minima?
    </div>
    
</div>

<div class="card">
    <div class="card-head">Lorem ipsum - product 2</div>
    <div class="card-body">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus placeat natus sed reiciendis molestiae voluptatibus! Exercitationem, hic aliquam officiis in, corporis veritatis neque, ipsam ullam praesentium unde quidem sunt minima?
    </div>
</div>