<div class="container mx-auto mt-4 pb-6 rounded-lg animate__animated animate__fadeIn">
    <div class="section">
        <h1 *ngIf="!isUserInRegister" class="font-extrabold text-3xl animate__animated animate__fadeIn">
            {{ !loggedUser && !loggedAdmin ? '¡Tu Viaje de Fitness Comienza Aquí!' : '¡Bienvenid@!: ' + getUsername() }}
        </h1>

        <h1 *ngIf="isUserInRegister" class="font-extrabold text-3xl animate__animated animate__fadeIn">
            {{ 'Registro para: ' + getDisplayName() }}
        </h1>

        <div class="card animate__animated animate__fadeIn">
            <div class="card-head">Hemos diseñado este sitio con el fin de que sea perfecto para ti. Reserva tu espacio,
                personaliza tu rutina y alcanza tus metas de salud y fitness con nuestra plataforma</div>
            <div class="card-body">
                ¡Prepárate para vivir la experiencia de fitness más completa! En FitLynx, te ofrecemos un espacio donde
                tus metas de salud y bienestar toman la delantera. Reserva un lugar en tu gimnasio y sumérgete en un
                ambiente diseñado para motivarte y superarte. Con acceso a instalaciones de primera, consejos de
                expertos y una comunidad que te respalda, estás a un clic de iniciar la transformación que deseas. No
                importa en qué punto estés de tu viaje de fitness; tenemos las herramientas y el apoyo que necesitas
                para llevar tu disciplina al siguiente nivel.
                <br><br>
                <b>¡Únete a nosotros y haz que hoy cuente!</b>
            </div>
        </div>
    </div>

    <div class="section mt-16" *ngIf="loggedUserData">
        <h1 class="font-extrabold text-3xl animate__animated animate__fadeIn">Actualizar Información</h1>

        <div class="card animate__animated animate__fadeIn" *ngIf="loggedUser">
            <div class="card-head">Modifica tus datos personales (Solo puedes cambiar esto una vez, adicionalmente debes
                notificar
                las razones del cambio al correo de bienestar)</div>
            <div class="card-body">
                <form>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
                        <!-- Field 1: Student Code -->
                        <div class="input-group">
                            <label for="field1">Código estudiantil:</label>
                            <div class="flex items-center">
                                <input type="text" [(ngModel)]="userDataToUpdate.student_code" class="input-field"
                                    id="field1" placeholder="Código estudiantil" [disabled]="!isEditable.field1"
                                    name="field1">
                                <button class="btn-edit" matTooltip="Editar" (click)="enableEdit('field1')"
                                    [disabled]="permanentEditDisabled.field1" *ngIf="!isEditable.field1"><i
                                        class="fa fa-pencil"></i></button>
                                <button class="btn-send" matTooltip="Actualizar" (click)="updateData('field1')"
                                    *ngIf="isEditable.field1"><i class="fa fa-paper-plane"></i></button>
                                <button class="btn-cancel" matTooltip="Cancelar" (click)="disableEdit('field1')"
                                    *ngIf="isEditable.field1"><i class="fa fa-x"></i></button>
                            </div>
                        </div>
                        <!-- Field 2: Program -->
                        <div class="input-group">
                            <label for="field2">Programa:</label>
                            <div class="flex items-center">
                                <select class="input-field" [(ngModel)]="userDataToUpdate.program" id="field2"
                                    [disabled]="!isEditable.field2" name="field2">
                                    <optgroup *ngFor="let school of schools" [label]="school.name">
                                        <option *ngFor="let program of school.programs" [value]="program">{{program}}
                                        </option>
                                    </optgroup>
                                </select>
                                <button class="btn-edit" matTooltip="Editar" (click)="enableEdit('field2')"
                                    [disabled]="permanentEditDisabled.field2" *ngIf="!isEditable.field2"><i
                                        class="fa fa-pencil"></i></button>
                                <button class="btn-send" matTooltip="Actualizar" (click)="updateData('field2')"
                                    *ngIf="isEditable.field2"><i class="fa fa-paper-plane"></i></button>
                                <button class="btn-cancel" matTooltip="Cancelar" (click)="disableEdit('field2')"
                                    *ngIf="isEditable.field2"><i class="fa fa-x"></i></button>
                            </div>
                        </div>
                        <!-- Field 3: Phone -->
                        <div class="input-group">
                            <label for="field3">Teléfono (Opcional):</label>
                            <div class="flex items-center">
                                <input type="tel" [(ngModel)]="userDataToUpdate.phone" class="input-field" id="field3"
                                    placeholder="Ingresa tu numero" [disabled]="!isEditable.field3" name="field3">
                                <button class="btn-edit" matTooltip="Editar" (click)="enableEdit('field3')"
                                    [disabled]="permanentEditDisabled.field3" *ngIf="!isEditable.field3"><i
                                        class="fa fa-pencil"></i></button>
                                <button class="btn-send" matTooltip="Actualizar" (click)="updateData('field3')"
                                    *ngIf="isEditable.field3"><i class="fa fa-paper-plane"></i></button>
                                <button class="btn-cancel" matTooltip="Cancelar" (click)="disableEdit('field3')"
                                    *ngIf="isEditable.field3"><i class="fa fa-x"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card animate__animated animate__fadeIn" *ngIf="loggedAdmin">
            <div class="card-head">Modifica la información perteneciente al Gimnasio (Es importante definir estos datos
                la primera vez que inicies sesión)</div>
            <div class="card-body">

                <div class="grid grid-cols-1 md:grid-cols-2 gap-10 p-2">

                    <div class="input-group">
                        <label for="field4">Nombre del Gym (Institución)</label>
                        <div class="flex items-center">
                            <input type="text" [(ngModel)]="gymData.name" class="input-field" id="field4"
                                placeholder="Ejem: Unillanos" [disabled]="!isEditable.field4" name="field4">
                            <button class="btn-edit" matTooltip="Editar" (click)="enableEdit('field4')"
                                [disabled]="permanentEditDisabled.field4" *ngIf="!isEditable.field4"><i
                                    class="fa fa-pencil"></i></button>
                            <button class="btn-send" matTooltip="Actualizar" (click)="updateGymData('field4')"
                                *ngIf="isEditable.field4"><i class="fa fa-paper-plane"></i></button>
                            <button class="btn-cancel" matTooltip="Cancelar" (click)="disableEdit('field4')"
                                *ngIf="isEditable.field4"><i class="fa fa-x"></i></button>
                        </div>
                    </div>

                    <div class="input-group">
                        <label for="field5">Capacidad Máxima del Gym:</label>
                        <div class="flex items-center">
                            <input type="tel" [(ngModel)]="gymData.max_capacity" class="input-field" id="field5"
                                placeholder="Número de personas" [disabled]="!isEditable.field5" name="field5">
                            <button class="btn-edit" matTooltip="Editar" (click)="enableEdit('field5')"
                                [disabled]="permanentEditDisabled.field5" *ngIf="!isEditable.field5"><i
                                    class="fa fa-pencil"></i></button>
                            <button class="btn-send" matTooltip="Actualizar" (click)="updateGymData('field5')"
                                *ngIf="isEditable.field5"><i class="fa fa-paper-plane"></i></button>
                            <button class="btn-cancel" matTooltip="Cancelar" (click)="disableEdit('field5')"
                                *ngIf="isEditable.field5"><i class="fa fa-x"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>