<div class="container flex flex-col sm:flex-row h-5/6 animate__animated animate__fadeIn">
    <div class="container-left w-full sm:w-1/2 bg-gray-100 flex items-center justify-center">
        <div class="text-container max-w-[35rem] p-4 md:p-8 font-extrabold text-2xl">
            ¡Estamos perfeccionando tu entrenamiento personalizado!. Pronto te brindaremos una experiencia única y adaptada a tus objetivos.
        </div>
    </div>
    <div class="container-right w-full sm:w-1/2 bg-gray-200 flex items-center justify-center">
        <div class="max-w-lg p-4 md:p-8">
            <div class="animation-container">
                <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
            </div>
        </div>
    </div>
</div>