
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$gymAdmin-primary: mat.define-palette(mat.$indigo-palette);
$gymAdmin-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$gymAdmin-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$gymAdmin-theme: mat.define-light-theme((
  color: (
    primary: $gymAdmin-primary,
    accent: $gymAdmin-accent,
    warn: $gymAdmin-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($gymAdmin-theme);

/* You can add global styles to this file, and also import other style files */
@import '~@angular/cdk/overlay-prebuilt.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import './assets/themeScss/themes.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}
html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--body-primary);
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  background-color: var(--body-primary);
  margin: 1.25rem 0 1.25rem 0;
  box-shadow: 0 .25rem .5rem var(--card-box-shadow);
  color: var(--card-text-color);

  .card-head {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid var(--border-bottom-card);
    font-size: 1rem;
    font-weight: 600;
  }

  .card-body {
    padding: 1rem 1.5rem;
  }
}

*:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

/* Estilo para ocultar la barra de desplazamiento en navegadores basados en Webkit (como Chrome, Safari) */
.sidenav-nav::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* Estilo para ocultar la barra de desplazamiento en IE y Edge */
.sidenav-nav {
  -ms-overflow-style: none;
}

/* Estilo para ocultar la barra de desplazamiento en Firefox */
.sidenav-nav {
  scrollbar-width: none;
}
